body
{
  margin: 16px;
  width: 376px; 
  height: 100vh;
  background-color:#f2f3f4;
}

button {
  padding: 16px;
  border-radius: 100px;
  height: 39px;
  font-size: 0.875rem;
  font-family: 'Source Code Pro', monospace;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  font-weight: 500;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

button.btn-primary
{
  color: #fff;
  border: 1px solid #037dd6;
  background-color: #037dd6;
}

button.btn-primary--disabled, button.btn-primary[disabled] {
  border-color: #b0d7f2;
  background-color: #b0d7f2;
}

.character-bar
{
  padding: 0 8px;
  border-bottom: 1px solid #d6d9dc;
  height: 64px;
}

.weapon-bar
{
  padding: 0 8px;
  border-bottom: 1px solid #d6d9dc;
  height: 64px;
}

.weapon-grid
{
  display: grid;
  grid-template-columns: 30% minmax(30%, 1fr) 30%;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.weapon-grid .stats 
{
  text-align: center;
  font-weight: bolder;
}

.weapon-grid .stats.earth
{
  color: #239B56;
}

.weapon-grid .stats.lightning
{
  color: #F1C40F;
}

.weapon-grid .stats.water
{
  color: #3498DB;
}

.weapon-grid .stats.fire
{
  color: #C0392B;
}

button:hover {
  box-shadow: 0 0 14px rgb(0 0 0 / 18%);
}

.list-container
{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 25px 0 0px;
  min-height: 150px;
}

.list-item
{
  width: 100%;
  min-height: 72px;
  margin: 0;
  background: #fff;
  padding: 2px 16px;
  font-size: 1rem;
  font-family: 'Source Code Pro', monospace;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #24292e;
  display: grid;
  grid-template-columns: 0fr repeat(11, 1fr);
  grid-template-areas:
      "icon head head head head head head head right right right right"
      "icon sub sub sub sub sub sub sub right right right right"
      ". actions actions actions actions actions actions actions right right right right";
  align-items: start;
  cursor: pointer;
}

.list-item_icon
{
  grid-area: icon;
  align-self: center;
}

.list-item_heading
{
  font-size: 1rem;
  font-family: 'Source Code Pro', monospace;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  grid-area: head;
  position: relative;
  display: flex;
  align-items: center;
}

.list-item_heading > h2
{
  text-overflow: ellipsis;
  white-space: nowrap;
}

.earth::before
{
  content: url("./images/earth.png");
  padding-right: 10px;
}

.lightning::before
{
  content: url("./images/lightning.png");
  padding-right: 10px;
}

.water::before
{
  content: url("./images/water.png");
  padding-right: 10px;
}

.fire::before
{
  content: url("./images/fire.png");
  padding-right: 10px;
}

.list-item_subheading
{
  font-family: 'Source Code Pro', monospace;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  grid-area: sub;
}

.list-item_subheading > h3
{
  overflow: visible;
  display: flex;
  white-space: nowrap;
  text-overflow: initial;
}

.list-item_right-content
{
  grid-area: right;
  text-align: right;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
}

.list-item_right-content > h2
{
  line-height: 62.23px;
  padding: 0;
  margin: 0;
}

.list-item_right-content > h3
{
  line-height: 22.4px;
}

footer
{
  height: 10px;
}

div[disabled],button[disabled], input[type=submit][disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.top-bar 
{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin:3px;
  position: absolute;
  top: 0;
  right: 0;
} 

button#btnCalc
{
  width: 150px;
}

#textBonusPower
{
  vertical-align: middle;
  line-height: 33px;
}

button#btnDonate
{
  width: 60px;
  color: #fff;
  border: 1px solid #DC7633;
  background-color: #DC7633;
  padding: 5px;
  height: 26px;
}

[hidden]
{
  display: none !important;
}

/* Popup */
.popup-donate-information
{
  position: absolute;
  right:0;
  top:20px;
  font-size: 0.875rem;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  background: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 21%);
  border-radius: 8px;
  width: 300px;
  color: #24292e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  z-index: 1050;
}

.popup-item
{
  background: none;
  font-size: inherit;
  display: grid;
  text-align: start;
  align-items: center;
  width: 100%;
  padding: 14px 0;
  cursor: pointer;
}

input
{
  width: 120px;
  border-radius: 3px;
}

.left-content 
{
  float: left;
}

/* Tabs */
